.cardContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -25%;
        height: 500px;
        width: 1000px;
        border-radius: 25px;
        padding: 50px;
        transform-origin: top;
        color: white; // Assuming text is white based on design code or adaptive

        h2 {
            text-align: center;
            margin: 0px;
            font-size: 28px;
        }

        .body {
            display: flex;
            height: 100%;
            margin-top: 50px;
            gap: 50px;

            .description {
                width: 40%;
                position: relative;
                top: 10%;

                p {
                    font-size: 16px;
                    line-height: 1.5;

                    &::first-letter {
                        font-size: 28px;
                        font-family: 'Playfair Display', serif;
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-top: 20px;

                    a {
                        font-size: 12px;
                        text-decoration: underline;
                        cursor: pointer;
                        color: inherit;
                    }
                }
            }

            .imageContainer {
                width: 60%;
                height: 100%;
                position: relative;
                border-radius: 25px;
                overflow: hidden;

                .inner {
                    width: 100%;
                    height: 100%;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}