.button {
    position: absolute; // Positioned absolutely within menuContainer to sit ON TOP of menu
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    z-index: 10; // Higher than menu

    .slider {
        position: relative;
        width: 100%;
        height: 100%;

        .el {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                .perspectiveText {
                    p {
                        &:nth-of-type(1) {
                            transform: translateY(-100%);
                        }

                        &:nth-of-type(2) {
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
}

.perspectiveText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    position: relative;
    overflow: hidden;

    p {
        margin: 0;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0.05em;
        line-height: 20px;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:nth-of-type(1) {
            transform: translateY(0);
        }

        &:nth-of-type(2) {
            transform: translateY(100%);
        }
    }
}